# ----- Versions -----
ELASTIC_VERSION=8.9.0

# ----- Passwords / Users -----
# Elasticsearch superuser password
ELASTIC_PASSWORD=1_Kibana

# kibana_system user password (setup will set this value)
KIBANA_SYSTEM_PASSWORD=1_Kibana

# Logstash writer user + password (setup creates user + role)
LS_ES_USER=logstash_writer
LS_ES_PASS=1_Kibana

# ----- Kibana encryption keys (must be 32+ chars). Change for real use! -----
KIBANA_SECURITY_ENCRYPTION_KEY=zaxscdvfbgnhmjkpoiuytrewqasdfghj
KIBANA_SAVEDOBJECTS_ENCRYPTION_KEY=zaxscdvfbgnhmjkpoiuytrewqasdfghj
KIBANA_REPORTING_ENCRYPTION_KEY=zaxscdvfbgnhmjkpoiuytrewqasdfghjccc

# ----- logstash_system user password -----
LOGSTASH_SYSTEM_PASSWORD=passwordforLogstash

